registry = "https://registry.npm.taobao.org"
@rh:registry=https://nexus.bighome360.com/repository/npm-rh/
//nexus.bighome360.com/repository/npm-rh/:_authToken=NpmToken.0dbc0e10-5711-34a4-b72a-da0018fb7382